      <div id="timelinewrap" class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                
                <ul class="timeline">
                {% for event in site.categories['timeline'] %}
                  {% assign loopindex = forloop.index | modulo: 2 %}
                  {% capture class %}
                    {% if loopindex == 0 %}
                      timeline-inverted
                    {% endif %}
                  {% endcapture %}

                  <li class="{{ class }}">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>{{ event.title }}</h4>
                              <h4 class="subheading">{{ event.subtitle }}</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">{{ event.content }}</p>
                          </div>
                      </div>
                  </li>

                {% endfor %}

                    <!--  FUTURE  -->
                  <li class="timeline-inverted">
                    <div class="timeline-image">
                      <img class="img-circle img-responsive" src="{{ site.baseurl }}/{{ site.career-img }}" alt="">
                    </div>
                  </li>

                </ul>

              </div>
          </div>
      </div>
