

body{
  
font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Muli', sans-serif;
}

::selection {
  background: #ff6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff6; /* Gecko Browsers */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
